body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
}

input {
    border: 1 solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

td, th {
    padding: 10px; /* Add padding to cells */
    border: 1px solid #ccc; /* Light border for clarity */
    word-wrap: break-word; /* Allow word wrapping */
}

td:nth-child(2), th:nth-child(2) {
    min-width: 7.5%; /* Set width for the second column */
    text-align: center; /* Align text to the center */
}

td {
    text-align: left; /* Align text to the left */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for readability */
}

#games-table {
    width: 100%; /* Full width for the table */
    border-collapse: collapse; /* Collapse borders */
    table-layout: fixed; /* Ensure fixed layout for proper width distribution */
}

#report {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width */
    max-width: 1200px; /* Optional: limit maximum width */
    margin: 0 auto; /* Center the report */
    padding: 20px 25px; /* Add padding for spacing */
    background-color: #f9f9f9; /* Light background for contrast */
}

#input-bar{
    padding: 10px;
    text-align: center;
}

.date-header, .park-header {
    font-weight: bold;
    text-align: center;
}

.date-header {
    font-size: 1.25em;
}

.park-header {
    font-size: 1.75em;
}

.park-section {
    margin-bottom: 20px;
    width: 100%; /* Ensure the park section takes full width */
}

.date-section {
    width: 100%;
    border-collapse: collapse;
}

@media print {
    body {
        font-size: .7em;
        margin-left: 20px;
        margin-right: 20px;
    }

    #report {
        width: 100%; /* Full width for the report */
        margin: 0; /* Remove margin for print */
        padding: 0; /* Remove padding for print */
    }

    .park-section {
        page-break-after: always; /* New page for each park section */
        width: 100%; /* Ensure full width */
    }
    .date-section {
        page-break-after: always;
        width: 100%;
    }

    #games-table {
        width: 100%; /* Ensure the table takes full width when printing */
        border-collapse: collapse; /* Collapse borders */
        table-layout: fixed; /* Ensure fixed layout */
    }

    th, td {
        padding: 10px; /* Add padding to cells */
        border: 1px solid #ccc; /* Light border for clarity */
        text-align: left; /* Align text */
    }

    h1, h2 {
        text-align: center; /* Center the headings */
    }

    /* Hide unnecessary elements */
    input, button, label {
        display: none; /* Hide inputs and buttons in print */
    }
}
